/*layout.css v 1.0*/
/*css que contiene los bloques de listas,links etc. aqui se encuentran los paddings,margenes de ciertas celdas*/
ul.links a{color:#000000;font:bold 10px/100% Verdana,Arial,Helvetica,sans-serif;text-decoration:underline !important;}
ul.links li{list-style-image:url('/web/20051231094640im_/http://www.banorte.com:80/images/bullet10.gif');}
.bIzq,.bIzq li a{background:#F3F3F3;}
.bloqueIzq li.sub01 a{width:164px;}
.bloqueIzq li.sub01 a,.bloqueIzqSmall li.sub01 a{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet11.gif) #E3E4DA !important;padding-left:20px !important;}
.bloqueIzqSmall li a,.bloqueIzqSmall li.active,.bloqueIzqSmall li.sub01 a{padding:3px 2px 2px 8px  !important;}
.bloqueIzqSmall li a,.bloqueIzqSmall li.active,.content2Col_leftSmall,.bloqueIzq_contSmall{width:150px;}
.bloqueIzqSmall li.sub01 a{width:138px;}
.bloques01{background:#E8E8E8;border:1px solid #FFFFFF;clear:both;display:block;height:auto;}
.bloques01 a:hover{background-color:#EAEBD9;color:#BB6A69;text-decoration:none !important;}
.bloques01 li a,.bloques01 li.active{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet4.gif) #E8E8E8 no-repeat;border-bottom:1px solid #D7D7D7;border-right:1px solid #D7D7D7;border-top:1px solid #FFFFFF;color:#666666;display:block;height:14px;padding:4px 4px 2px 8px;}
.bloques01 li.active{background-color:#EBEBEB;color:#CC0000;font-weight:bold;}
.bloques01 ul,.bloques01 li{font-size:9px;list-style-image:none !important;list-style-type:none;margin:0;padding:0;text-decoration:none;}
.bloques01 ul.bold{font-weight:bold;}
/*bloques de herramientas,subnavegacion etc*/
.bloques01_cont{border:1px solid #9A9B9F;clear:both;height:auto;margin:5px 20px 5px 10px}
.bloques02{background:#F5F5F5;border:1px solid #FFFFFF;display:block;line-height:100%;padding-bottom:10px;}
.bloques02_cont{border:1px solid #9A9B9F;display:block;margin-bottom:10px;}
.bloques03_cont{border:1px solid #9A9B9F;display:block;margin:10px 8px 10px 14px;}
.bloques03_hipo{border:1px solid #9A9B9F;display:block;margin:10px 20px 20px 12px;}
.bloques04_cont{border:1px solid #9A9B9F;margin-bottom:10px;}
.bloque05 li a,.bloque05 li.active{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet_red.gif) #f6f6f6 no-repeat;#D7D7D7;border-top:1px solid #f6f6f6;color:#666666;display:block;height:26px;padding:4px 4px 2px 8px;width:122px;}
.bloque05 li.active{background-color:#EBEBEB;font-weight:bold;}
.bloque05 ul,.bloques05 li{font-size:9px;list-style-image:none !important;list-style-type:none;margin:0;padding:0;text-decoration:none;}
.bloque05 ul.bold{font-weight:bold;}
.bloque05_cont_promo{border:1px solid #D4D4D5;display:block;margin-bottom:10px;width:132px;}
.bloque05 a:hover{background-color:#F0EFEF;color:#BB6A69;text-decoration:none !important;}
.bloquetitgris{clear:both !important;color:#000000;font-size:12px;font-style:normal;font-weight:bold;line-height:120%;margin:10px 10px 10px 14px;}
.bloquetitgris div,.bloquetitgris2 div{background:#F5F5F5;display:block;padding:5px;}
.bloquetitgris2{clear:both !important;color:#000000;font-size:12px;font-style:normal;font-weight:bold;line-height:120%;margin-bottom:10px;margin-top:10px;}
.categorias{background:#FFFFFF;width:95%;display:block;line-height:120%;margin-right:0px;margin-top:5px;padding:5px;vertical-align:middle;margin-left:10px}
.categorias p{color:#666666;margin:0;padding:0;}
.categorias ul{margin:5px 5px 5px 20px;padding:0;}
.categorias ul li{color:#666666;font-size:11px;font-weight:normal;line-height:140%;list-style-image:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet13.gif);margin:0;padding:0 0 5px 0;}
.categorias ul li a{color:#990000 !important;display:block;font-size:12px;}
.categorias2{background:#FFFFFF;width:95%;display:block;line-height:120%;margin-right:0px;margin-top:5px;padding:5px;vertical-align:middle;margin-left:10px}
.categorias2 p{color:#666666;margin:0;padding:0;}
.categorias2 ul{margin:5px 5px 5px 20px;padding:0;}
.categorias2 ul li{color:#666666;font-size:12px;font-weight:normal;line-height:120%;list-style-image:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet13.gif);margin:0;padding:0 0 5px 0;}
.categorias2 ul li a{color:#990000 !important;display:block;font-size:11px;}
.centro2donivel{font-size:12px;margin:5px 10px 6px 14px;}
.centro2donivel li{color:#000000;font-size:12px;line-height:150%;list-style-image:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet2.gif);margin:0px 0px 5px;padding:0px;}
.centro2donivel ul{margin:20px 30px;padding:0px;}
.centro2doniveltexto{margin:0 0 6px 14px;}
.clearall{margin:0px;padding:0px;}
.colderecha{background:url('/web/20051231094640im_/http://www.banorte.com:80/images/colderecha/cder_repeat.gif');vertical-align:top;width:190px !important;}
.colizq{background:url('/web/20051231094640im_/http://www.banorte.com:80/images/center_repeat.gif') repeat-y;vertical-align:top;width:582px !important}
.content2Col{clear:both;display:block;padding-top:10px;}
.content2Col_left,.content2Col_leftSmall{display:block;float:left;margin-right:3px;padding-bottom:5px;padding-left:14px;width:160px;}
.content2Col_right{display:block;float:right;font-size:11px;line-height:120%;padding-bottom:5px;padding-right:9px;width:388px;}
.content2Col_right li{color:#000000;font-size:12px;list-style-image:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet2.gif);margin:0px 0px 5px;padding:0px;}
.divlineagris{border-top:solid #D4D4D4 1px;margin:10px 0 10px 0;}
.doscolumnas01{display:block;float:left;width:299px;}
.doscolumnas02{display:block;float:left}
.doscolumnas02 div{padding-bottom:5px;padding-right:10px;}
.encuesta_container01{border-bottom:solid #E9E9E7 1px;border-top:solid #E9E9E7 1px;margin-top:10px}
.encuesta01{background:#F0F1EE;border-bottom:solid #FFFFFF 1px;border-top:solid #FFFFFF 1px;padding:10px}
.encuesta01 td{color:#999999;font-size:10px;font-weight:bold;}
/*lista de favoritos. Se utilizan divs para modularizar la edicion de las listas,links,etc en ese div*/
.favoritos{display:block;line-height:100%;margin-top:6px;}
.favoritos a:link,.favoritos a:active{color:#000000;}
.favoritos a:visited{color:#323232;}
.favoritos a:hover{color:#999999 !important;}
.favoritos li{color:#323232;font-size:9px;list-style-image:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet5.gif);margin:0px 0px 0px 25px;padding:0px;}
.favoritos ul{margin:3px 0px 0px;padding:0;}
.fondopopup{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/linea_popup.gif) repeat-y;vertical-align:top;}
.fondopopupgde{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/linea_popup_gde.gif) repeat-y;vertical-align:top;}
.fondopoppromo{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/linea_popup_promo.gif) repeat-y;vertical-align:top;}
.footer,.footer a:link,.footer a:visited,.footer a:hover{color:#999999;font:normal normal 9px/180% Verdana,Arial,Helvetica,sans-serif !important;}
.homecentro{margin:0 0px 0px 14px;}
.indice{background:#F7F7EF;color:#999999;display:block;font-size:9px;font-weight:bold;line-height:100%;margin-bottom:10px;margin-top:10px;padding:3px 5px 8px 3px;text-align:right;vertical-align:middle;}
.indice a{color:#999999;font-size:9px;font-weight:bold;text-decoration:underline !important;}
.izqBig{display:block;float:left;width:396px;}
.izqBig div,.doscolumnas01 div{margin-right:9px;padding-bottom:5px;padding-left:14px;}
.linkstop,.linkstop a{color:#FFFFFF !important;font-size:9px;font-style:normal;font-weight:normal;}
.margenpopu2{margin:10px 14px 3px 10px;}
.margenpopup{margin:0 12px 10px 5px;}
.margenpopup_promo{margin:1px 0px 0px 5px;}
.normalbig01{color:#333333;font-size:12px !important;}
.padd_10px{margin:10px 0 10px 0;}
.padd_10pxall{display:block;margin:10px;}
.padd_10pxbott{margin-bottom:10px;}
.padd_10pxtop{margin-top:10px;}
.padd_5px{margin:5px 0 5px 0;}
.padd_5pxtop{margin-top:5px;}
.quote01{background:#F0F1EE;border-bottom-color:#999999;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#999999;border-top-style:solid;border-top-width:1px;color:#000000;font-size:14px;margin-bottom:10px;margin-top:10px;padding:10px;}
.tablacol1{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/tableback01.gif) #FFFFFF repeat-x;border:1px solid #E0E0E0;color:#333333;font:bolder 10px Verdana,Arial,Helvetica,sans-serif;margin:1px;padding:5px;}
.tablacol2{background:#F8F8F8;border:solid #E6E6E6 1px;border-left:solid #E0E0E0 1px;border-top:solid #E0E0E0 1px;}
.tablacol3{background:#F4F4EC;border:1px solid #E0E0E0;color:#333333;font:bolder 10px Verdana,Arial,Helvetica,sans-serif;margin:1px;padding:5px;}
.tooltip{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/tooltip.png);border:1px solid #333333;color:#333333;filter:Alpha(Opacity=95);font-size:11px;font-style:normal;font-weight:bold;line-height:120%;padding:10px;text-decoration:none}
#bloqueDecremetar a{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/down_texto.gif);}
#bloqueIncremetar a{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/up_texto.gif);}
#bloqueAdd a{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/carrito.gif);}
#bloqueDecremetar a,#bloqueIncremetar a,#bloqueAdd a{background-repeat:no-repeat;padding-left:22px;padding-top:4px;width:129px;}
#bloquesImagen,#bloquesImagen a{background:none;border:0;height:auto;list-style-image:none;list-style-type:none;margin:0;padding:0;width:155px;}
#divbuscar{display:block;margin-top:10px;text-align:right;}
#divbuscar img,#divbuscar input,img.middle{vertical-align:middle;}
#divbuscar input{background:#FFFFFF;border:1px solid #000000;color:#000000;font-size:9px;height:14px;margin-right:4px;width:110px;}
#divPath{background:url(/web/20051231094640im_/http://www.banorte.com:80/images/path_back.gif) #E2E3DD no-repeat;color:#656565;display:block;font-size:9px;height:22px;padding-left:10px;padding-right:10px;vertical-align:middle;padding-top:6px}
#infobursatil{background:#EBE8D7;border:1px solid #9C9C9C;display:block;height:21px;/*font-size:0.6em;*/ padding:0px;text-align:left;vertical-align:middle;}
/*subcategoria en menu izquierdo*/
#infobursatil_container{display:block;height:40px;margin:0px 10px 5px 14px;text-align:right;}
.drag {LEFT: 200px; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 381px; POSITION: absolute; TOP: 0px}
#incTexto {
background:url(/web/20051231094640im_/http://www.banorte.com:80/images/bullet4.gif) #E8E8E8 no-repeat;border-bottom:0px solid #D7D7D7;border-right:1px solid #D7D7D7;border-top:1px solid #FFFFFF;display:block;padding:0px 0px 0px 8px;height:18px;

}
#incTexto td, #incTexto {
color: #666;
font-size: 9px;
}
#incTexto a {
	padding:0;
	margin:0;
	background:none;
	display: inline;
	clear:none;
	border:none;
	width:auto;
	float:none;
	height:auto;
}
/*
     FILE ARCHIVED ON 09:46:40 Dec 31, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:40:15 Dec 16, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 81.757 (3)
  esindex: 0.004
  captures_list: 93.791
  CDXLines.iter: 8.503 (3)
  PetaboxLoader3.datanode: 111.397 (4)
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.094
  RedisCDXSource: 1.024
  PetaboxLoader3.resolve: 30.911
  load_resource: 91.192
*/