h1{color:#000000;font-size:17px;font-style:normal;font-weight:bold;line-height:120%;margin-bottom:5px;margin-top:0px;text-decoration:none;}
h2{color:#990000;font-size:13px;font-style:normal;font-weight:bold;line-height:120%;margin-bottom:5px;margin-top:0px;text-decoration:none;}
h3{color:#000000;font-size:13px;font-style:normal;font-weight:normal;line-height:130%;margin-bottom:5px;margin-top:0px;text-decoration:none;}
h4{color:#000000;font-size:15px;font-style:normal;font-weight:bold;line-height:120%;margin-bottom:5px;margin-top:0px;text-decoration:none;}
.quote01{background:#F0F1EE;border-bottom-color:#999999;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#999999;border-top-style:solid;border-top-width:1px;color:#000000;font-size:15px;margin-bottom:10px;margin-top:10px;padding:10px;}
.content2Col_right li{color:#000000;font-size:13px;list-style-image:url(/web/20051231100047im_/http://www.banorte.com:80/images/bullet2.gif);margin:0px 0px 5px;padding:0px;}
/*
     FILE ARCHIVED ON 10:00:47 Dec 31, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:40:22 Dec 16, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 53.26 (3)
  esindex: 0.023
  captures_list: 68.354
  CDXLines.iter: 11.08 (3)
  PetaboxLoader3.datanode: 64.002 (4)
  exclusion.robots: 0.139
  exclusion.robots.policy: 0.13
  RedisCDXSource: 1.764
  PetaboxLoader3.resolve: 57.733 (2)
  load_resource: 88.201
*/