/*textos.css v 1.0*/
.subtitulo01{color:#990000 !important;font-size:10px;font-style:normal;font-weight:bolder;text-decoration:none;}
.subtitulo02{color:#990000 !important;font-size:9px;font-style:normal;font-weight:bolder;text-decoration:none;}
.subtitulo06{color:#990000 !important;font-size:9px;font-style:normal;text-decoration:none;}
.subtitulo03{color:#000000;font-size:10px;font-style:normal;font-weight:bolder;text-decoration:none;}
.subtitulo04{color:#000000;font-size:9px;font-style:normal;font-weight:bold;line-height:120%;}
.subtitulo08{color:#555555;font-size:10px;font-style:normal;font-weight:bolder;text-decoration:none;}
.subtitulobco{color:#ffffff;font-size:11px;font-style:normal;font-weight:bolder;text-decoration:none;}
.titulo01{color:#000000;font-size:12px;font-weight:bold;}
.normal01,.normal01 a:link,.normal01 a:visited,.normal01 a:hover{color:#666666;font-size:11px;text-decoration:none !important;}
.normal01 a:hover{color:#999999;font-size:11px;text-decoration:none !important;}
.normal02{color:#666666;font-size:10px;line-height:120%;}
.link01{color:#000000;font-size:9px;font-style:italic;font-weight:bolder;}
.small01{color:#CC9999;font-size:9px;font-style:normal;font-weight:normal;}
.resaltado{background:#FFFFCC;}
.subtitulo05{color:#999999;font-size:9px;font-style:normal;font-weight:bold;line-height:120%;}
.small02{color:#666666;font-size:9px;font-style:normal;font-weight:normal;}
.small03{color:#000000;font-size:9px;font-style:normal;font-weight:normal;}
.txtunderline{text-decoration:underline !important;}
.subtitulo07{color:#990000 !important;font-size:9px;font-style:normal;font-weight:bolder;line-height:100%;text-decoration:none;}
.links2{color:#666666;font-size:10px;font-style:normal;font-weight:bold;line-height:100%;text-decoration:underline  !important;vertical-align:middle;}
.faqs{clear:both !important;color:#000000;display:block;font-size:11px;font-style:normal;font-weight:bold;line-height:120%;margin:0;padding:0px;}
.faqs ul{ margin:0 !important; }
.faqs ul li{ 	margin:10px 0 10px 20px !important; 	background:#F5F5F5; 	list-style-image:url(/web/20051231092122im_/http://www.banorte.com:80/images/pregunta.gif)!important; }
.respuestas{background:#FFFFFF;display:block;font-size:11px;font-style:normal;font-weight:normal;line-height:130%;padding-top:5px;}
.small04{color:#B5B5B5;font-size:9px;font-style:normal;font-weight:normal;}
a.nounderline,a.nounderline:hover{text-decoration:none !important;}
.txtbigred{color:#990000;font-size:12px;font-weight:bolder;}
/*para class swap*/
.closed,.open{border:1px solid #F5F5F5;display:block;margin-bottom:10px;margin-top:10px;padding:4px;}
.closed table td,.open table td{background:#F5F5F5;padding:5px;}
.closed table,.open table{width:378px;}
.closed a,.open a{background:no-repeat 3px 50%;border-top-color:#E0E0E0;border-top-style:solid;border-top-width:1px;display:block;font-size:8px;padding:8px 0px 8px 16px;text-decoration:underline !important;}
.closed a:hover,.open a:hover{background-color:#FFFFFF;color:#333333;}
.closed a{background-image:url(/web/20051231092122im_/http://www.banorte.com:80/images/menplus.gif);}
.open a{background-image:url(/web/20051231092122im_/http://www.banorte.com:80/images/menminus.gif);background-color:#FFFFFF;}
.closed ul a,.open ul a,.open ul a:hover{background:transparent no-repeat 0% 50%;border:0;color:#666666;font-size:.8em;font-weight:normal;margin:0 0 0 16px;padding:0 0 0 12px;}
.open ul a:hover{background:transparent;letter-spacing:.1em;}
/*termina class swap*/.textbig01{color:#333333;font-size:24px;font-style:normal;font-weight:bolder;text-decoration:none;}
.supersmall,.supersmall a{color:#333333;font:bold 9px Arial,Helvetica,sans-serif;text-decoration:underline !important;}
.superindice { color: #000000; font-size: 8px; line-height: normal; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; letter-spacing: 0px ; vertical-align: super; text-decoration: none}
.solicitados{color:#3A3A3A;	font-size:9px; font-style:normal; font-weight:normal; line-height: 17px; text-decoration: none;}
.tablita{
	color:#3A3A3A;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	line-height: 12px;
	text-decoration: none;
	height: 18px;
	vertical-align: middle;
}
.tablitaCH{color:#3A3A3A; font-size:9px; font-style:normal;	font-weight:normal;	line-height: 12px; text-decoration: none; font: verdana;}
.tablitaCH2{color:#3A3A3A; font-size:9px; font-style:normal; font-weight:normal; line-height: 10px; text-decoration: none; font: ;}
.producto_desc{color:#2A5B92;font-size:9px;font-style:normal;font-weight:normal;}
.textPromocionales{color:#000000;font-size:10px;font-style:normal;font-weight:normal;}
/*
     FILE ARCHIVED ON 09:21:22 Dec 31, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:40:16 Dec 16, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 57.885 (3)
  esindex: 0.007
  captures_list: 74.136
  CDXLines.iter: 12.041 (3)
  PetaboxLoader3.datanode: 106.369 (4)
  exclusion.robots: 0.172
  exclusion.robots.policy: 0.16
  RedisCDXSource: 1.152
  PetaboxLoader3.resolve: 27.292 (2)
  load_resource: 113.235
*/